<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/studentlogin.css">
</head>
<body>
<navbar class="navbar">
    <div>
    <a href="/trainer/addnewstudent/">Add new student</a>
    </div>
    <div>
        <h2>Welcome to trainer portal</h2>
    </div>
    <div>
    <a href="/trainer/display/">display </a>
    </div>
    <div>
    <a href="/trainer/logout/">logout </a>
    </div>

</navbar>
<img src="/static/img_2.png" width="100%">
</body>
</html>